{% extends "base.html" %}
{% load static %}

{% block css %}{% static "products/style.css" %}{% endblock css %}
{% block title %}Registrar productos{% endblock title %}

{% block header %}
{% include "products/partials/header_product_manager.html" %}
{% endblock header %}


{% block main %}
<h5 class='page_title'>Registar Producto</h5>
<form  class='product_forms'  method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input class='update-btn' type="submit" value='Registrar'>
    <a class='update-btn page_back' href='{% url "products_list"%}'>Volver</a>
</form>
{% endblock main %}